article {
  padding-top: 1em;

  header {
    margin-bottom: 10px;

    h1 {
      font-size: 2em;
      font-weight: bold;
      color: $header-color;
      a { color: $header-color; }
      a:hover { color: $header-link-color; }
    }

    @media screen and (min-width: 0px) {
      h1 { font-size: 1em; }
    }

    @media screen and (min-width: 400px) {
      h1 { font-size: 1.2em; }
    }

    @media screen and (min-width: 500px) {
      h1 { font-size: 1.5em; }
    }

    @media screen and (min-width: 800px) {
      h1 { font-size: 2em; }
    }

    p {
      font-size: .9em;
      color: lighten($text-color-light, 10);
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
      }
    }
  }

  h1 {
    font-size: $h1;
    line-height: 1.2em;
  }

  p, blockquote, ul, ol { margin-bottom: 1.5em; }

  ul { list-style-type: circle;
    ul { list-style-type: disc; margin-bottom: 0px;
      ul { list-style-type: square; margin-bottom: 0px; }}}

  ol { list-style-type: decimal;
    ol { list-style-type: lower-alpha; margin-bottom: 0px;
      ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

  ul, ol { &, ul, ol { margin-left: 1.3em; }}

  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box($border: #aaa 1px solid, $shadow: rgba(#000, .25) 0 2px 10px, $border-radius: .3em);
    padding: .25em;
    background-color: #fff;
  }

  figure.equation { 
    background: $pre-bg;
    @include border-radius(.4em);
    @extend .mono;
    border: 1px solid $pre-border;
    padding: 5px;
    font-size: 100%;
    text-align: center;
  }

  @media screen and (min-width: 0px) {
    figure.equation {
      font-size: 50%;
    }
  }

  @media screen and (min-width: 400px) {
    figure.equation {
      font-size: 60%;
    }
  }

  @media screen and (min-width: 500px) {
    figure.equation {
      font-size: 80%;
    }
  }
  @media screen and (min-width: 800px) {
    figure.equation {
      font-size: 100%;
    }
  }

  iframe { 
    @extend .flex-content;
    @extend .basic-alignment;
  }

  strong { font-weight: bold; }
  em { font-style: italic; }

  mark {
    color: darken($text-color-light, 15);
    background-color: transparent;
    font-weight: normal;
    font-style: italic;
  }

  sup, sub { font-size: 0.8em; position: relative;  display: inline-block; }
  sup { top: -.5em; }
  sub { bottom: -.5em; }

  q {
    font-style: italic;
    &:before { content: "\201C"; }
    &:after { content: "\201D"; }
  }

  em, dfn { font-style: italic; }
  strong, dfn { font-weight: bold; }
  del, s { text-decoration: line-through; }

  abbr, acronym { border-bottom: 1px dotted; cursor: help; }
  pre, code, tt { @extend .mono; }
  sub, sup { line-height: 0; }
  hr { margin-bottom: 0.2em; }
  small { font-size: .8em; }
  big { font-size: 1.2em; }

  code { @extend .pre-code; }

  pre {
    background: $pre-bg;
    @include border-radius(.4em);
    @extend .mono;
    border: 1px solid $pre-border;
    line-height: 1.45em;
    font-size: 13px;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: $pre-color;
    overflow: auto;
  }

  blockquote {
    $bq-margin: 1.2em;
    font-style: italic;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba($text-color-light, .5);

    cite {
      font-style: italic;
      a { color: $text-color-light !important; word-wrap: break-word; }
      &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
    }
  }

  footer {
    color: $text-color-light;
    padding-bottom: .1em;
    margin-top: .2em;
    @extend .sans;

    p.meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }

    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }
}

.separator {
  content: "—";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  @include pie-clearfix;
  text-align: center;
  font-size: .95em;
  position: relative;
  padding: {top: 1.5em; bottom: 1.5em;}
  border-top: 1px solid #fff;

  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }

      @media screen and (min-width: 0px) {
        &:before, &:after { content: ''; padding: 0 .3em; }
      }

      @media screen and (min-width: 400px) {
        &:before, &:after { content: '\2014'; padding: 0 .3em; }
      }
    }
  }
}
