html {
  background-image: url(/images/site.png);
  background-repeat: repeat;
}

body {
  width: $max-width;
  position: relative;
  margin: auto; 
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $site-bg; 
  border: 3px solid $site-border;
  padding: $pad-min;
  font-size: 1.125em;
  line-height: 1.5em;
  color: $text-color;

  @extend .sans;

  header > hgroup > h1 {
    text-align: left;
    font-weight: normal;
    font-size: 1.5em !important;
    margin-top: -45px;
    margin-left: 25px;
    line-height: 1em;
    color: $title-color;
    > a, > a:hover { color: $title-color; text-decoration: none; }
  }

  #content {
    @extend pie-clearfix;

    > header, > nav, > footer, #content > article, #content > div >
    > article, #content > div > section {
      @extend .group;
      padding-left: $pad-min;
      padding-right: $pad-min;
    }
  }

  a { color: $link-color; text-decoration: none; }
  a:hover { color: $link-color-hover; text-decoration: none; }
}

#{headings()} {
  @extend .heading;
  text-rendering: optimizelegibility;
}

@media screen and (min-width: 0px) {
  body { width: 254px; }

  header > hgroup > div {
    display: block;
    padding: 2px;
    width: 250px;
    height: 192px;
    border: 2px solid #000000;
    background-image: url(/images/very.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .basic-alignment {
    &.left, &.right, &.center {
      display: block;
      margin: 1.5em auto 1.5em;
    }
  }
}

@media screen and (min-width: 400px) {
  body { width: 324px; }

  header > hgroup > div {
    display: block;
    padding: 2px;
    width: 320px;
    height: 192px;
    border: 2px solid #000000;
    background-image: url(/images/small.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .basic-alignment {
    &.left, &.right, &.center {
      display: block;
      margin: 1.5em auto 1.5em;
    }
  }
}

@media screen and (min-width: 500px) {
  body { width: 421px; }

  header > hgroup > div {
    display: block;
    padding: 2px;
    width: 417px;
    height: 192px;
    border: 2px solid #000000;
    background-image: url(/images/medium.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .basic-alignment {
    &.left { float: left; margin-right: 1.5em; }
    &.right { float: right; margin-left: 1.5em; }
    &.center { display: block; margin: 0 auto 1.5em; }
    &.left, &.right { margin-bottom: .8em; }
  }
}

@media screen and (min-width: 800px) {
  body { width: $max-width; }

  header > hgroup > div {
    display: block;
    padding: 2px;
    width: 668px;
    height: 192px;
    border: 2px solid #000000;
    background-image: url(/images/big.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .basic-alignment {
    &.left { float: left; margin-right: 1.5em; }
    &.right { float: right; margin-left: 1.5em; }
    &.center { display: block; margin: 0 auto 1.5em; }
    &.left, &.right { margin-bottom: .8em; }
  }
}
