$sans: Helvetica, Arial, sans-serif !default;
$serif: serif !default;
$mono: monospace !default;

$max-width: 676px !default;
$site-bg: #ffffff !default;
$site-border: #888888 !default;
$extra-color: #000000 !default;
$extra-border: #000000 !default;
$padding: 20px !default;
$margin: 10px !default;

$text-color: #000000 !default;
$text-color-light: lighten($text-color, 40) !default;

$link-color: #990000 !default;
$link-color-hover: $link-color !default;
$link-color-visited: $link-color !default;

$title-font-family: $sans !default;
$title-color: #dfdfdf !default;

$header-font-family: $sans !default;
$header-color: lighten(#000000, 10) !default;
$header-link-color: $header-color !default;
$header-link-color-hover: $link-color-hover !default;
$header-link-color-visited: $header-link-color !default;

$nav-font-family: $sans !default;
$nav-bg: transparent !default;
$nav-border-bottom: lighten(#99cc33, 45) !default;
$nav-color: $link-color !default;
$nav-link-color: $nav-color !default;
$nav-link-color-hover: $nav-link-color !default;
$nav-link-color-visited: $nav-link-color !default;

$footer-bg: transparent !default;
$footer-border-top: $nav-border-bottom !default;
$footer-color: $text-color !default;
$footer-link-color: $text-color !default;
$footer-link-color-hover: $footer-link-color !default;
$footer-link-color-visited: $footer-link-color !default;

$h1: 1.2em !default;
$h2: 1.1em !default;
$h3: 1.0em !default;
$h4: 1.0em !default;
$h5: 0.9em !default;
$h6: 0.8em !default;

$img-bg: transparent !default;

$pre-bg: lighten(#99cc33, 45) !default;
$pre-border: #cccccc !default;
$pre-color: $text-color !default;
