body > footer {
  clear: both;
  @extend .sans;
  background-color: $footer-bg;
  font-size: .625em;
  color: $footer-color;
  position: relative;
  padding-top: .5em;
  z-index: 1;

  section { border-top: 4px solid $footer-border-top; }

  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color-visited);
  }

  p:last-child { margin-bottom: 0; }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      text-transform: uppercase;
      border-bottom: 1px solid $extra-border;
    }

    li:last-child { border-bottom: none; }
  }
}
