<div class="main-navigation">
  <span><a href="{{ root_url }}/">Blog</a></span>
  <span><a href="{{ root_url }}/atom.xml">Feed</a></span>
  <span><a href="{{ root_url }}/blog/tags">Tags</a></span>
  <span><a href="{{ root_url }}/blog/archives">Archives</a></span> 
  <span><a href="https://de.wikipedia.org/wiki/Benutzer:Manuel_Bieling">Wikipedia</a></span>
  <span><a href="http://www.amazon.de/registry/wishlist/CJ4YEV1EZS69 ">Wishlist</a></span>
  <span><a href="{{ root_url }}/blog/about">About</a></span>
</div>
