@font-face {
  font-family: 'Hermit';
  src: url('/assets/fonts/Hermit.otf');
  font-weight: normal;
  font-style: normal;
}

$sans: "Hermit", sans-serif;
$serif: "Baskerville", serif;
$heading-font-family: "Hermit", sans-serif;
$header-title-font-family: "Hermit", sans-serif;
$header-title-font-size: 1.8em;
$header-subtitle-font-family: "Futura", sans-serif;
$text-size: 0.9em;
